:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

html,
body,
button,
input,
textarea,
select,
option {
  font-family: var(--font-sans);
}

.font-sans {
  font-family: var(--font-sans) !important;
}

body {
  font-family: var(--font-sans) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
